@model WebApplication1.Models.BrokerUpdateModel

@{
    if (Model.Referenceprofile == "BRSERenewalDocs")
    {

        ViewBag.Title = Resources.Resource.requestRenew;
    }
    if (Model.Referenceprofile == "BRStransferDOCS")
    {

        ViewBag.Title = Resources.Resource.BrokerTransferRequests;
    }
    if (Model.Referenceprofile == "BRSEDeactivateDocs")
    {

        ViewBag.Title = Resources.Resource.BrokerDeactivateRequests;
    }
    if (Model.Referenceprofile == "BRSCancelDOCS")
    {

        ViewBag.Title = Resources.Resource.BrokerCancelRequests;
    }
    if (Model.Referenceprofile == "BRSISSUANCEDOCS")
    {

        ViewBag.Title = Resources.Resource.BrokerIssuanceRequests;
    }
    if (Model.Referenceprofile == "WhomItConcernsLetterService")
    {

        ViewBag.Title = Resources.Resource.BrokerToWhomItConcern;
    }
    if (Model.Referenceprofile == "PrintLostIdCard")
    {

        ViewBag.Title = Resources.Resource.BrokerPrintLostIdCard;
    }

    Layout = "~/Views/Shared/_LayoutPageFinal.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>
<script src="~/Scripts/jquery.validate.min.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>

<div class="col-lg-12 col-centered marginTop30">

    <div>
        <input type="hidden" runat="server" id="txtCivilIdExpirydatePickerhdn" />
        <input type="hidden" runat="server" id="txtPassportExpirydatePickerhdn" />
        <input type="hidden" runat="server" id="txtTradeLicenseExpiryDatePickerhdn" />
        <input type="hidden" runat="server" id="txtCivilIdExpirydatePickerhdnForvaildate" />
        <input type="hidden" runat="server" id="txtPassportExpirydatePickerhdnForvaildate" />
        <input type="hidden" runat="server" id="txtTradeLicenseExpiryDatePickerhdnForvaildate" />

        <input type="hidden" runat="server" id="Tid" />
        <input type="hidden" runat="server" id="uid" />
        <input type="hidden" runat="server" id="reqid1" />

        @Html.HiddenFor(m => Model.Eservicerequestid, new { @id = "Eservicerequestid" })
        @Html.HiddenFor(m => Model.Referenceprofile, new { @id = "Referenceprofile" })
        @Html.HiddenFor(m => m.SelectedFileId)



    </div>
    <div id="msgmodalDiv" class="modal" style="display:none;z-index:888">

        <input type="hidden" runat="server" id="SubmitFlag" />
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="closeError">&times;</span>
                <h6 id="msgmodelHeaderTitle">&nbsp;</h6>
            </div>
            <div class="modal-body">
                <h5 id="msgmodalMessage" class="boldc"></h5>
            </div>
            <div class="modal-footer">
                <input type="button" ID="msgcloseModal" onclick='HideMessageToUser()' class="btn btn-info" value="@Resources.Resource.Ok" />
            </div>
        </div>
    </div>
    <table class="table table-striped center-block">

        <tbody>
            @*<tr>
                    <td colspan="1">
                        <div id="requestListDivExpand">
                            <h3 class="text-dark text-center">
                                <b id="showInformationlbl">
                                    @Resources.Resource.showInformation &nbsp;
                                </b>
                                <b id="hideInformationlbl">
                                    @Resources.Resource.hideInformation  &nbsp;
                                </b>
                                <i class="glyphicon glyphicon-arrow-up" id="arrowUpp"></i>
                                <i class="glyphicon glyphicon-arrow-down" id="arrowDownn"></i>

                            </h3>
                        </div>

                    </td>
                </tr>*@


            <tr>
                <td colspan="1">

                    <div id="requestListDiv" class="well">
                        @using (Html.BeginForm("BrokerUpdate", "BrokerRenewal", FormMethod.Post))
                        {
                            Html.AntiForgeryToken();
                            @Html.HiddenFor(m => m.SelectedOrgidForIssuance, new { @id = "SelectedOrgidForIssuance" })
                            <div class="well form-horizontal" dir="@Resources.Resource.dir">

                                <fieldset>

                                    <div class="form-group">
                                        <p class="redColor text-center"> @Resources.Resource.mandatoryFieldsMsg </p>
                                        <label class="col-md-3 control-label">@Resources.Resource.BrokerType</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-briefcase"></i>
                                                </span>
                                                @Html.TextBoxFor(Model => Model.BrokerType, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">@Resources.Resource.requestNo</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-barcode"></i>
                                                </span>
                                                @Html.TextBoxFor(Model => Model.RequestNumber, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model.Referenceprofile != "BRSISSUANCEDOCS")
                                    {

                                        <div class="form-group">
                                            @if (Session["LegalEntity"].ToString() == "2")
                                            {
                                            <label class="col-md-3 control-label">@Resources.Resource.OrgStatus_OrganizationName</label>
                                            }
                                            else
                                            {
                                                <label class="col-md-3 control-label">@Resources.Resource.generalBroker</label>

                                            }
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </span>
                                                    @Html.TextBoxFor(Model => Model.ParentBrokerName, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else

                                    {
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.nationality</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </span>
                                                    @Html.TextBoxFor(Model => Model.Nationality, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                                </div>
                                            </div>
                                        </div>

                                    }


                                    <div class="form-group">
                                        <label class="col-md-3 control-label">@Resources.Resource.brokerArabicNameLbl</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                @Html.TextBoxFor(Model => Model.BrokerArabicName, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="col-md-3 control-label">@Resources.Resource.brokerEnglishNameLbl</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-tag"></i>
                                                </span>
                                                @Html.TextBoxFor(Model => Model.BrokerEnglishName, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model.RejectionReason != null && Model.RejectionReason != "")
                                    {


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.RejectionReason</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-tag"></i>
                                                    </span>
                                                    @Html.TextBoxFor(Model => Model.RejectionReason, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">@Resources.Resource.civilIdNo</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-file"></i>
                                                </span>
                                                @Html.TextBoxFor(Model => Model.CivilIdNo, new { @readonly = "readonly", @class = "form-control NotEditable" })
                                            </div>
                                        </div>
                                    </div>

                              

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">@Resources.Resource.civilIdExpiryDate</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                                @*@if (Model.Referenceprofile != "BRSERenewalDocs" && Model.Referenceprofile != "BRSISSUANCEDOCS")
            {
                @Html.TextBoxFor(Model => Model.TempCivilIdExpirydate, new { @class = "form-control NotEditable" })
            }
            else*@


                                                @Html.TextBoxFor(Model => Model.CivilIdExpirydate, new { placeholder = "* " + @Resources.Resource.civilIdExpiryDate, @id = "CivilIdExpirydatePicker", @class = "form-control dateClass" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.CivilIdExpirydate, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                    @if (Model.BrokerType == "General Broker" || Model.BrokerType == "مخلص عام")
                                    {
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.passportNo</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-flag"></i>
                                                    </span>
                                                    @*@Html.TextBoxFor(Model => Model.passportNo, new { placeholder = @Resources.Resource.passportNo, @id = "passportNo", @class = "form-control inputBorder" })*@


                                                    @Html.TextBoxFor(Model => Model.TemppassportNo, new { placeholder = @Resources.Resource.passportNo, @class = "form-control inputBorder", @id = "TemppassportNo" })
                                                </div>
                                               
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.passportExpiryDate</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>


                                                    @*@if (Model.Referenceprofile != "BRSERenewalDocs" && Model.Referenceprofile != "BRSISSUANCEDOCS")
                                                        {
                                                            @Html.TextBoxFor(Model => Model.TempPassportExpirydate, new { @class = "form-control NotEditable" })
                                                        }
                                                        else*@


                                                    @Html.TextBoxFor(Model => Model.TempPassportExpirydate, new { placeholder = @Resources.Resource.passportExpiryDate, @id = "PassportExpirydatePicker", @class = "form-control dateClass" })


                                                </div>
                                              
                                            </div>
                                        </div>

                                    }
                                    else

                                    {
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">@Resources.Resource.passportNo</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-flag"></i>
                                                </span>
                                                @*@Html.TextBoxFor(Model => Model.passportNo, new { placeholder = @Resources.Resource.passportNo, @id = "passportNo", @class = "form-control inputBorder" })*@


                                                @Html.TextBoxFor(Model => Model.passportNo, new { placeholder = "* " + @Resources.Resource.passportNo, @class = "form-control inputBorder", @id = "passportNo" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.passportNo, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">@Resources.Resource.passportExpiryDate</label>
                                        <div class="col-md-7 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>


                                                @*@if (Model.Referenceprofile != "BRSERenewalDocs" && Model.Referenceprofile != "BRSISSUANCEDOCS")
                                                    {
                                                        @Html.TextBoxFor(Model => Model.TempPassportExpirydate, new { @class = "form-control NotEditable" })
                                                    }
                                                    else*@


                                                @Html.TextBoxFor(Model => Model.PassportExpirydate, new { placeholder = "* " + @Resources.Resource.passportExpiryDate, @id = "PassportExpirydatePicker", @class = "form-control dateClass" })


                                            </div>
                                            @Html.ValidationMessageFor(model => model.PassportExpirydate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    }
                 

                                    @if (Model.Referenceprofile != "BRSISSUANCEDOCS")
                                    {
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.tradeLicenseExpiryDat</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                    @*@if (Model.Referenceprofile != "BRSERenewalDocs")
                                                    {
                                                               }
                                                    else

                                                    {
                                                       

                                                    
                                                    }*@

                                                    @Html.TextBoxFor(Model => Model.TempTradeLicenseExpiryDate, new { @readonly = "readonly", @class = "form-control NotEditable" })


                                                    @*@Html.TextBoxFor(Model => Model.TradeLicenseExpiryDate, new { placeholder = "* " + @Resources.Resource.tradeLicenseExpiryDat, @id = "TradeLicenseExpiryDate", @class = "form-control dateClass" })*@


                                                </div>
                                            </div>
                                        </div>





                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.MobileNumber</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-phone"></i>
                                                    </span>
                                                    @Html.TextBoxFor(Model => Model.MobileNumber, new { placeholder = "* " + @Resources.Resource.MobileNumber, @class = "form-control inputBorder" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.eMailAddress</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                    </span>
                                                    @Html.TextBoxFor(Model => Model.MailAddress, new { placeholder = "* " + @Resources.Resource.eMailAddress, @class = "form-control inputBorder", @id = "MailAddresstxt" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.MailAddress, "", new { @class = "text-danger" })

                                            </div>
                                        </div>


                                    }


                                    else

                                    {



                                        if (Session["LegalEntity"] != null)
                                        {
                                            if (Session["LegalEntity"].ToString() == "2")
                                            {

                                                
                                                                    }
                                                                }
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">@Resources.Resource.MobileNumber</label>
                                                                    <div class="col-md-7 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <i class="glyphicon glyphicon-phone"></i>
                                                                            </span>
                                                                            @Html.TextBoxFor(Model => Model.MobileNumber, new { placeholder = "* " + @Resources.Resource.MobileNumber, @readonly = "readonly", @class = "form-control NotEditable" })

                                                                        </div>
                                                                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>


                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">@Resources.Resource.officialAddress</label>
                                                                    <div class="col-md-7 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <i class="glyphicon glyphicon-phone"></i>
                                                                            </span>
                                                                            @Html.TextBoxFor(Model => Model.officialAddress, new { placeholder = "* " + @Resources.Resource.MobileNumber, @readonly = "readonly", @class = "form-control NotEditable" })

                                                                        </div>
                                                                        @Html.ValidationMessageFor(model => model.officialAddress, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>


                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">@Resources.Resource.eMailAddress</label>
                                                                    <div class="col-md-7 inputGroupContainer">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <i class="glyphicon glyphicon-envelope"></i>
                                                                            </span>
                                                                            @Html.TextBoxFor(Model => Model.MailAddress, new { placeholder = "* " + @Resources.Resource.eMailAddress, @readonly = "readonly", @class = "form-control NotEditable", @id = "MailAddresstxt" })

                                                                        </div>
                                                                        @Html.ValidationMessageFor(model => model.MailAddress, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>





                                                                }


                                    @if (Session["LegalEntity"] != null)
                                    {
                                        if (Session["LegalEntity"].ToString() == "2" && Model.Referenceprofile == "BRStransferDOCS")
                                        {

               
                                                                }
                                                            }





                                    @if (Model.Referenceprofile != "WhomItConcernsLetterService" && Model.Referenceprofile != "PrintLostIdCard")
                                    {

                                        <div class="form-group ">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-7 inputGroupContainer testclass" >
                                            
                                                @{
                                                    if (TempData["Dataerror"] != null)
                                                    {
                                                        if (TempData.Values != null && TempData.Values.Count() > 0)
                                                        {

                                                            <p class="redColor text-center"> @Resources.Resource.uploadAllRequiredDocMSG </p>

                                                            foreach (var item in TempData["Dataerror"] as List<string>)
                                                            {
                                                                <p class="redColor text-center"> @item</p>
                                                            }
                                                        }
                                                    }
                                                }





                                          
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.docTypesLabel</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon maxWidth100"><i class="glyphicon glyphicon-list"></i></span>

                                                    @Html.DropDownListFor(m => m.docsid, Model.ddlDocumentTypesitems, new
                                                   {
                                                       @id = "ddlDocumentTypes",
                                                       @class = "form-control "
                                                   })
                                                </div>
                                            </div>
                                        </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label">&nbsp;</label>
                                                <div class="col-md-7 inputGroupContainer">
                                                    <div class="input-group">
                                                        <div class="file-loading">
                                                            <input id="fileUploadCtrl" type="file" data-min-file-count="0" data-theme="fas">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <p class="redColor text-center"> @Resources.Resource.uploadFileMSG</p>
                                                <label class="col-md-3 control-label marginTop15">@Resources.Resource.fileName</label>
                                                <div class="col-md-7 inputGroupContainer marginTop15">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-file"></i>
                                                        </span>
                                                        <input id="NewFilename" name="NewFilename" placeholder="@Resources.Resource.fileName"
                                                               class="form-control" value="" type="text">

                                                        <p id="fileNameError" class="errorMsg">
                                                            @Resources.Resource.fileNameError
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label ">&nbsp;</label>
                                                <div class="col-md-7 inputGroupContainer marginTop15">
                                                    <div class="input-group">

                                                        @if (Model.UploadDiv != "false")
                                                        {

                                                            <button type="button" onclick="up('BrokerRenewal')" class="btn btn-info btn-block col-centered width50Percent" causesvalidation="false" id="uploadWindow1">
                                                                <b>
                                                                    <span class="glyphicon glyphicon-file"></span>&nbsp; @Resources.Resource.UploadDocument_Header &nbsp;
                                                                </b>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <p class="redColor text-center"> @Resources.Resource.uploadedFileListMSG </p>

                                                <label class="col-md-3 control-label">&nbsp;</label>
                                                <div class="col-md-7 inputGroupContainer marginTop15">
                                                    <div class="input-group">
                                                        @*<table id="Uploadedfileslist">*@
                                                            <table id="Uploadedfileslist" class=" table data-table table-striped table-bordered responsive  ">

                                                                @*<table id="Uploadedfileslist" class="data-table table table-striped table-bordered responsive nowrap ">*@
                                                                <thead>
                                                                    <tr>

                                                                        <th class="all" style="max-width:100px">@Resources.Resource.fileName</th>
                                                                        <th class="desktop tablet-l tablet-p ">@Resources.Resource.docType</th>
                                                                        <th class="desktop tablet-l ">@Resources.Resource.uploadDate</th>
                                                                        <th class="desktop tablet-l tablet-p ">@Resources.Resource.ActionLabel&nbsp;</th>
                                                                        @*<th class="desktop tablet-l tablet-p ">&nbsp;</th>*@

                                                                        @*<th>@Resources.Resource.docType</th>
                                                                        <th>@Resources.Resource.fileName</th>
                                                                        <th>@Resources.Resource.uploadDate</th>
                                                                        <th>&nbsp;</th>
                                                                        <th>&nbsp;</th>*@
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model.ListOfUploadedFiles != null)
                                                                    {
                                                                        foreach (var item in Model.ListOfUploadedFiles)

                                                                        {

                                                                            <tr>
                                                                                @*<td>
                                <input type="checkbox" name="@item.DocumentId" runat="server" class="deleteselctedcheckbox" id=@item.DocumentId />
                            </td>*@
                                                                                <td>
                                                                                    @item.NewFileName
                                                                                </td>

                                                                                <td>
                                                                                    @item.DocumentType
                                                                                </td>
                                                                                <td>
                                                                                    @item.Createddate
                                                                                </td>
                                                                                <td class="text-center test21" style="white-space: nowrap;" >
                                                                                    @*@Html.ActionLink(Resources.Resource.download, "DownloadFile", "BrokerRenewal", new { filename = @item.DocumentId }, new { @class = "btn btn-primary" })*@
                                                                                    <a href="@Url.Action("DownloadFile", "BrokerRenewal",new { filename = @item.DocumentId })">
                                                                                        <img class="btnimg1" src="~/images/Buttons/Download.png">
                                                                                    </a>
                                                                                @*</td>
                                                                                <td class="text-center">*@
                                                                                    @*@Html.ActionLink(Resources.Resource.deleteFile, "DeleteFile", "BrokerRenewal", new { dataItem = @item.DocumentId }, new { @class = "btn btn-primary" })*@
                                                                                    @*<button type='button' class='btn btn-primary' onclick="DeleteFilewithDocId('@item.DocumentId',event)">@Resources.Resource.deleteFile</button>*@


                                                                                    @*<input type="button" value=@Resources.Resource.deleteFile onclick="DeleteFilewithDocIdForClearingExam(this)" id="@item.DocumentId" class="mcbutton btn btn-primary" runat="server" />*@
                                                                                        <img class="btnimg" onclick="DeleteFilewithDocIdForClearingExam(this)" id="@item.DocumentId" src="~/images/Buttons/Delete.png" />
                                                            

                                                                                </td>
                                                                            </tr>

                                                                        }
                                                                    }
                                                                </tbody>

                                                            </table>


                                                            <div>

                                                            </div>


                                                            <div>

                                                            </div>


                                                            @{
                                                                ViewBag.UploadDocsURL = System.Configuration.ConfigurationManager.AppSettings["UploadDocs"].ToString();
                                                                ViewBag.UploadDocs_actioncall = System.Configuration.ConfigurationManager.AppSettings["UploadDocs_actioncall"].ToString();
                                                            }

</div>
                                                </div>
                                            </div>

                                                            }
                                    <div class="form-group">
                                        <label class="col-md-3 control-label marginTop15">&nbsp;</label>
                                        <div class="col-md-7 inputGroupContainer marginTop15">
                                            <div class="input-group">
                                                @if (Model.SubmitRequest != "false")
                                                {
                                                    if(Model.stateid!= "EservTranReqProceedState" && Model.stateid != "EservTranReqInitAcceptedState")
                                                    {

                                                    <button type="submit"  class="btn btn-info btn-block col-centered marginTop50 width50Percent"  causesvalidation="true" id="SubmitRequest">
                                                        <b>
                                                            <span class="glyphicon glyphicon-ok-sign"></span>&nbsp; @Resources.Resource.Send &nbsp;
                                                        </b>
                                                    </button>
                                                    }
                                                    else
                                                    {  
                                                        <button type="submit" class="btn btn-info btn-block col-centered marginTop50 width50Percent"  causesvalidation="true" id="SubmitRequest">
                                                    <b>
                                                        <span class="glyphicon glyphicon-ok-sign"></span>&nbsp; @Resources.Resource.Pay &nbsp;
                                                    </b>
                                                </button>

                                                    }

                                                }
                                                else
                                                {
                                                    <button type="button" onclick="window.history.go(-1)" class="btn btn-info btn-block col-centered marginTop50 width50Percent" id="BackButton">
                                                        <b>
                                                            <span class="glyphicon glyphicon-ok-sign"></span>&nbsp; @Resources.Resource.Back &nbsp;
                                                        </b>
                                                    </button>
                                                        <button type="button" onclick="window.location.href='@Url.Action("Requestprint", "User", new { RequestNumber = WebApplication1.Models.CommonFunctions.CsUploadEncrypt(Model.RequestNumber) })'" class="btn btn-info btn-block col-centered marginTop50 width50Percent" id="BackButton">
                                                            <b>
                                                                <span class="glyphicon glyphicon-ok-sign"></span>&nbsp; @Resources.Resource.print &nbsp;
                                                            </b>
                                                        </button>

                                                }

                                            </div>
                                        </div>
                                    </div>






                                </fieldset>

                            </div>





                                                            }

                    </div>





                </td>
            </tr>
        </tbody>
    </table>
</div>



@{
    if (ViewData["OrgGetDocumentsResult"] != null)
    // if (1==1)

    {
        if (ViewData.Values != null && ViewData.Values.Count() > 0)
        {
            foreach (var item in ViewData["OrgGetDocumentsResult"] as List<WebApplication1.Models.OrgGetDocumentsResult>)
            {
                <tr>
                    <td align="@Resources.Resource.UploadDocument_align_style">
                        <div style="margin-top:20px" id="idattach">
                            @{
                                if (@item.DocumentName != "")
                                {
                                    <table style="width:90%">
                                        <tr>
                                            <td style="width:5%" align="@Resources.Resource.UploadDocument_align_style"><span>&#128206;</span></td>
                                            <td style="width:90%" align="@Resources.Resource.UploadDocument_align_style"><span>@item.DocumentName</span></td>
                                            @{
                                                if (ViewBag.dis == "1")
                                                {
                                                    <td style="width:5%" align="center"><i onclick="location.href='@Url.Action("UploadDocument1", "User", new { OrgReqDocId = item.OrganizationRequestDocumentId })'" class="glyphicon glyphicon-trash" style="border:none;color: red;"></i></td>
                                                }
                                                else
                                                {
                                                    <td style="width:5%" align="center"><i class="glyphicon glyphicon-trash" style="border:none;color: red;"></i></td>
                                                }
                                            }

                                        </tr>
                                    </table>
                                                }
                                                else
                                                {
                                                    <table style="width:80%">
                                                        <tr>
                                                            <td align="left"><span>@item.DocumentName</span></td>
                                                        </tr>
                                                    </table>
                                                }
                            }
                        </div>
                    </td>
                </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td align="@Resources.Resource.UploadDocument_align_style">
                                                            <div style="margin-top:20px" id="idattach">

                                                                <table style="width:80%">
                                                                    <tr>
                                                                        <td align="left">&nbsp;</td>
                                                                    </tr>
                                                                </table>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                    }
                                                }
}




<script type="text/javascript">
  //  var Tid = '@ViewBag.TokenId';
    document.getElementById("Tid").value='@ViewBag.TokenId';
    document.getElementById("uid").value='@ViewBag.UserId';
    document.getElementById("reqid1").value='@ViewBag.reqid1';
    @*var uid='@ViewBag.UserId';
    var reqid1='@ViewBag.reqid1';*@


    $("#Uploadedfileslist").css("width", "100%")
      var myResourceString= "@Resources.Resource.uploadAllRequiredDocMSG";

    $("#fileUploadCtrl").click(function () {
        // var selectedValue = $(this).val();
        $("#NewFilename").val($("#ddlDocumentTypes").find("option:selected").text())

    });




</script>




<style type="text/css">

    /*.test21 {
        white-space: nowrap;
    }
    .td.nowrap {
        white-space: nowrap;
    }*/

    .dataTables_filter, .dataTables_info {
        display: none;
    }

    .dataTables_empty {
        display: none;
    }

    .highlight {
        background: #ddd;
    }

    table tr td {
        border: solid thin #ccc;
    }

    AssociatedOrglist.dataTable tbody tr.selected {
        color: white !important;
        background-color: #eeeeee !important;
    }
 
</style>



<script src="~/Scripts/BrokerProcess.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>

