@model WebApplication1.Models.ForgotPwdOTPinput

@{
    ViewBag.Title = Resources.Resource.ForgotPassword;
    Layout = "~/Views/Shared/_LayoutPageFinal.cshtml";
}


<div class="" id="divEmp">
    @using (Ajax.BeginForm("Forgot_Password", "registration", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp" }))
    {
        <div class="col-lg-12 col-centered">
            <table id="t1" class="table table-striped center-block" align="center">
                <tr>
                    <td width="50%" align="center">
                        <div id="Idmodalcontent">

                            <div id="modelbodydiv">

                                @{ if (ViewData["data"] != null)
                                    {
                                        if (ViewData.Values != null && ViewData.Values.Count() > 0)
                                        {
                                            foreach (var item in ViewData["data"] as List<WebApplication1.Models.ForgotPwdOTPinput>)
                                            {
                                                <div id="mydiv">


                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_input</label>
                                                        <div class="col-md-7 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-flag"></i>
                                                                </span>
                                                                <input id="inputfgt" name="emailId" placeholder="@Resources.Resource.Forgot_input"
                                                                       class="form-control" value="@item.emailId" type="text">
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">&nbsp;</label>
                                                        <div class="col-md-7 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-flag"></i>
                                                                </span>

                                                                <img id="m_imgCaptcha" src="/eservice/registration/GetCaptchaImage" class="text-center" align="middle" />
                                                                <span id="Regreshcaptch" class="glyphicon glyphicon-refresh" onclick="loadCaptcha()">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    @*<div class="form-group">
                                                            <table align="center">
                                                                <tr>
                                                                    <td align="center">
                                                                        <img id="m_imgCaptcha" src="/eservice/registration/GetCaptchaImage" class="text-center" align="middle" />
                                                                    </td>
                                                                    <td align="center">
                                                                        <span id="Regreshcaptch" class="glyphicon glyphicon-refresh" onclick="loadCaptcha()">
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>*@







                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">@Resources.Resource.Captcha</label>
                                                        <div class="col-md-7 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-flag"></i>
                                                                </span>
                                                                <input id="inputCaptcha" name="CaptchaValue" placeholder="@Resources.Resource.Forgot_input2"
                                                                       class="form-control" value="@item.emailId" type="text">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <button type="submit" id="btnsubmit" formaction="Forgot_Password"
                                                                class="btn btn-info btn-lg marginTop15 marginBottom15">
                                                            @Resources.Resource.Forgot_B_generateotpbutton
                                                        </button>
                                                    </div>



                                                    <div class="form-group" style="@ViewBag.disabled">
                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_inputcode</label>
                                                        <div class="col-md-7 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-flag"></i>
                                                                </span>

                                                                <input class="form-control textval" placeholder="@Resources.Resource.Forgot_inputcode"
                                                                       name="otpValue" value="@item.otpValue"
                                                                       type="text" id="inputcode" />
                                                            </div>
                                                        </div>
                                                    </div>





                                                    <div class="form-group" style="@ViewBag.disabled">
                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_inputnewpwd</label>
                                                        <div class="col-md-7 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-flag"></i>
                                                                </span>

                                                                <input class="form-control textval" placeholder="@Resources.Resource.Forgot_inputnewpwd"
                                                                       name="newPwd" value="@item.newPwd"
                                                                       type="password" id="inputpwd" />
                                                            </div>
                                                        </div>
                                                    </div>





                                                    <div class="form-group" style="@ViewBag.disabled">
                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_inputcpwd</label>
                                                        <div class="col-md-7 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-flag"></i>
                                                                </span>

                                                                <input class="form-control textval" placeholder="@Resources.Resource.Forgot_inputcpwd"
                                                                       name="CPassword" value="@item.CPassword"
                                                                       type="password" id="inputcpwd" />
                                                            </div>
                                                        </div>
                                                    </div>


                                                    @*<div class="form-group" style="@ViewBag.disabled">
                                                            <label class="col-md-3 control-label">@Resources.Resource.Forgot_inputcpwd</label>
                                                            <div class="col-md-7 inputGroupContainer">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-flag"></i>
                                                                    </span>

                                                                    <input class="form-control textval" placeholder="@Resources.Resource.Forgot_inputcpwd"
                                                                           name="CPassword" value="@item.CPassword"
                                                                           type="password" id="inputcpwd" />
                                                                </div>
                                                            </div>
                                                        </div>*@



                                                    <div class="form-group" style="@ViewBag.disabled">
                                                        <p class="passwordValidMsg">@Resources.Resource.validpassword</p>
                                                    </div>



                                                    <div class="form-group" style="@ViewBag.disabled">
                                                        <button type="submit" id="btnsubmit1" formaction="Forgot_ResetPassword"
                                                                class="btn btn-info btn-lg marginTop15 marginBottom15">
                                                            @Resources.Resource.Forgot_B_resetpwd
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
                                    }

</div>



@{
    if (ViewBag.modelerror != null)
    {
        if (ViewBag.modelerror == "0")
        {
            <div class="modal fade" tabindex="-1" id="dialog"
                 data-keyboard="false" data-backdrop="static" style="@Resources.Resource.div_direction">
                <div class="modal-dialog modal-lg" style="width:300px;margin-top:20%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <table>
                                <tr>
                                    <td style="width:95%">@Resources.Resource.error</td>
                                    <td style="width:5%">
                                        <button type="button" style="color:black;opacity:unset" class="close" data-dismiss="modal">
                                            ×
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-body">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
        if (ViewBag.modelerror == "2" || ViewBag.modelerror == "5")
        {
            <div class="modal fade" tabindex="-1" id="MSGModel"
                 data-keyboard="false" data-backdrop="static" style="@Resources.Resource.div_direction">
                <div class="modal-dialog modal-lg" style="width:330px;margin-top:20%;text-align:center">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-body">
                                <table align="center">
                                    <tr><td style="font-weight:bold">@Resources.Resource.KuwaitCustoms</td></tr>
                                    <tr><td><p style="margin-top:20px">@ViewBag.msg</p></td></tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group" style="text-align:center">
                                    <input type="button" id="btnHide" class="btn button button4 btnhide" value="@Resources.Resource.Ok" Style="width:auto" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        if (ViewBag.modelerror == "3")
        {
            <div class="modal fade" tabindex="-1" id="MSGModel1"
                 data-keyboard="false" data-backdrop="static" style="@Resources.Resource.div_direction">
                <div class="modal-dialog modal-lg" style="width:330px;margin-top:20%;text-align:center">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-body">
                                <table align="center">
                                    <tr><td style="font-weight:bold">@Resources.Resource.KuwaitCustoms</td></tr>
                                    <tr><td><p style="margin-top:20px">@ViewBag.msg</p></td></tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group" style="text-align:center">
                                    @Html.ActionLink(@Resources.Resource.Ok, "Index", "registration", new { @class = "btn button button4", @Style = "width: fit-content;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


<script type="text/javascript">
        var ViewBagmodelerror=@ViewBag.modelerror;
        var Captchid= "@ViewData["CaptchaId"]";
        var ViewBagmodelstatus=@ViewBag.modelerror;
        if (ViewBagmodelstatus==null) {
            ViewBagmodelstatus='';
        }

        function loadCaptcha() {
            //console.log("clicked");
            $("#m_imgCaptcha").removeAttr("src").attr('src', "/eservice/registration/GetCaptchaImage?Refreshforce=" + Math.floor(Math.random() * 1000));


        }
        function RegSuccess(data) {
            //$('#ddd').show();
            loadCaptcha();
            //window.location.href = "Accountverification?";
            //alert(data.message);
            if (data.StatusCode === 0) {
                window.location.href = data.URL;
            }
            else {
                alert(data.message);
            }
            ////StatusCode

            console.log(JSON.stringify(data));
            //console.log(data.result);
        }
        function RegFailure(data) {
            loadCaptcha();
            //alert('Some issue has occured. Please try again');
            alert(data.message);
        }
</script>
@*<script src="~/Scripts/Main/popup_jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
@*<script src="~/Scripts/Main/popup.js"></script>*@
@*<script src="~/Scripts/Main/Captcha.js"></script>*@

@*<script src="~/Scripts/JS_View/forgot.js"></script>*@

