@model WebApplication1.Models.ForgotPwdOTPinput

@{
    ViewBag.Title = Resources.Resource.Forgot_B_resetpwd; //Resources.Resource.ResetPassword;
    Layout = "~/Views/Shared/_LayoutPageFinal.cshtml";
}



<script src="~/Scripts/jquery.validate.min.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>

<div class="col-lg-11 col-centered">
    @*@using(Html.BeginForm("ResetPassword", "registration", FormMethod.Post))*@

    @using (Ajax.BeginForm("ResetPassword", "registration", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "RegSuccess",
        OnFailure = "RegFailure"
    },new { @autocomplete="off"}))
    {
        <table class="table table-striped center-block">
            <tr>
                <td width="50%" align="center">
                    <div>

                        <div>

                            <form autocomplete="off">
                                @{ if (ViewData["data"] != null)
                                    {
                                        if (ViewData.Values != null && ViewData.Values.Count() > 0)
                                        {
                                            foreach (var item in ViewData["data"] as List<WebApplication1.Models.ForgotPwdOTPinput>)
                                            {
                                                @*<div class="pageHeader">
                                                        <span>@Resources.Resource.ResetPassword</span>
                                                    </div>*@

                                                <div class="form-group marginTop15" align="center">
                                                    <p class="text-center">
                                                        @Resources.Resource.Forgot_header1
                                                    </p>
                                                </div>
                                                <div id="mydiv" class="well form-horizontal"  >
                                                    <div class="form-group" style="@ViewBag.disableCaptchaFormelements">
                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_input</label>
                                                        <div class="col-md-5 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-inbox"></i>
                                                                </span>

                                                                <input class="form-control"
                                                                       required="required"
                                                                       placeholder="@Resources.Resource.Forgot_input"
                                                                       name="emailId" value="@item.emailId"
                                                                       type="email"
                                                                       id="emailId" autocomplete="off" />



                                                            </div> <p id="emailIdErrorMsg" class="errorMsg">
                                                                @Resources.Resource.EnterMobileEmail
                                                            </p>
                                                        </div>
                                                    </div>



                                                    <div class="form-group" >
                                                        @*style="@ViewBag.disableCaptchaFormelements"*@
                                                        <label class="col-md-3 control-label">@Resources.Resource.EnterCaptcha</label>
                                                        <div class="col-md-5">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-qrcode"></i>
                                                                </span>

                                                                <input class="form-control"
                                                                       placeholder="@Resources.Resource.Forgot_input2"
                                                                       name="CaptchaValue"
                                                                       type="text" id="inputCaptcha" autocomplete="off" />

                                                                <img id="m_imgCaptcha" src="../registration/GetCaptchaImage"
                                                                     class="text-center captcha" />
                                                                <span id="Regreshcaptch"
                                                                      class="glyphicon glyphicon-refresh">
                                                                </span>


                                                            </div> 
                                                            <p id="captchaErrorMsg" class="errorMsg">
                                                                @Resources.Resource.EntercorrectCaptcha
                                                            </p>
                                                        </div>
                                                    </div>


                                                    <div class="form-group" style="@ViewBag.disableCaptchaFormelements">
                                                        <button type="submit" id="resetPasswordBtn"
                                                                formaction="ResetPassword"
                                                                class="btn btn-info btn-lg">
                                                            @Resources.Resource.Submit
                                                        </button>
                                                    </div>


                                                    <div class="form-group" style="@ViewBag.disabled">

                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_inputcode</label>
                                                        <div class="col-md-5 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-inbox"></i>
                                                                </span>


                                                                <input class="form-control OPTField"
                                                                       placeholder="@Resources.Resource.Forgot_inputcode"
                                                                       name="otpValue" value="@item.otpValue"
                                                                       type="text"
                                                                       id="inputcode" autocomplete="off" />


                                                            </div>  <p id="inputcodeErrorMsg" class="errorMsg">
                                                                @Resources.Resource.EmailCodeMandatory
                                                            </p>
                                                        </div>
                                                    </div>




                                                    <div class="form-group" style="@ViewBag.disabled">


                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_inputnewpwd</label>
                                                        <div class="col-md-5 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-inbox"></i>
                                                                </span>

                                                                <input class="form-control OPTField"
                                                                       placeholder="@Resources.Resource.Forgot_inputnewpwd"
                                                                       name="newPwd" value="@item.newPwd"
                                                                       type="password"
                                                                       id="inputpwd" autocomplete="off" />
                                                                @*@Html.ValidationMessageFor(model => model.newPwd, "", new { @class = "text-danger" })*@


                                                            </div> <p id="newPwdErrorMsg" class="errorMsg">
                                                                @Resources.Resource.requiredPasswordMsg
                                                            </p>
                                                        </div>

                                                    </div>



                                                    <div class="form-group" style="@ViewBag.disabled">


                                                        <label class="col-md-3 control-label">@Resources.Resource.Forgot_inputcpwd</label>
                                                        <div class="col-md-5 inputGroupContainer">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-inbox"></i>
                                                                </span>

                                                                <input class="form-control OPTField"
                                                                       placeholder="@Resources.Resource.Forgot_inputcpwd"
                                                                       name="CPassword" value="@item.CPassword"
                                                                       type="password"
                                                                       id="inputcpwd" autocomplete="off" />
                                                                @*@Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "text-danger" })*@


                                                            </div> 
                                                            <p id="CPasswordErrorMsg" class="errorMsg">
                                                                @Resources.Resource.requiredPasswordMsg
                                                            </p>
                                                            <p id="Passworddoesntmatch" class="errorMsg">
                                                                @Resources.Resource.Passwordsarenotmatching
                                                            </p>
                                                        </div>
                                                    </div>


                                                    <div class="form-group" style="@ViewBag.disabled">
                                                        <p style="color:red;width: 80%;">@Resources.Resource.validpassword</p>
                                                    </div>


                                                    <div class="form-group" style="@ViewBag.disabled">
                                                        <button type="submit" id="resetPassBtn" formaction="Reset_Password"
                                                                class="btn btn-info btn-lg">
                                                            @Resources.Resource.Forgot_B_resetpwd
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </form>

                        </div>
                    </div>
                </td>
            </tr>
        </table>

    }
</div>

<div id="modalDiv" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeError">&times;</span>
            <h6 id="modelHeaderTitle">&nbsp;</h6>
        </div>
        <div class="modal-body">
            <p id="modalMessage">
            </p>
        </div>
        <div class="modal-footer">
            @if (ViewBag.modelerror == "3")
            {
                @*<input type="button" ID="closeModal" class="btn btn-info" value="@Resources.Resource.Ok" />*@
                @Html.ActionLink(@Resources.Resource.Ok, "index", "registration", new { @class = "btn btn-primary" });
            }
            else
            {
                <input type="button" ID="closeModal" class="btn btn-primary" value="@Resources.Resource.Ok" />
            }
        </div>
    </div>

</div>
@*this is for Captcha Error*@
<script type="text/javascript">

    var sts = '@ViewBag.status';
    var err =  '@ViewBag.modelerror';
    var msg = '@ViewBag.msg';

    //var ValidationAttribute = '@ViewBag.disabled';

    //$().ready(function () {

    //    console.log(ValidationAttribute);

    //    if (ValidationAttribute..includes("none")) {
    //        $('.OPTField').attr('data-val', false);
    //    }
    //    else {
    //        $('.OPTField').attr('data-val', true);
    //    }
    //});


</script>

<script src="~/Scripts/ResetPassword.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>

