
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    

    <script src="~/scripts/jquery.min.js" type="text/javascript" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>
    <link href="~/styles/bootstrap.css" rel="stylesheet" nonce="EDNnf03nceIOfn39fn3e9h3sdfa" />
    <script src="~/scripts/bootstrap.js" type="text/javascript" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" media="all" nonce="EDNnf03nceIOfn39fn3e9h3sdfa" />

    <script src="~/Scripts/jquery-ui.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>
    <link href="~/styles/jquery-ui.css" rel="stylesheet" media="all" nonce="EDNnf03nceIOfn39fn3e9h3sdfa" />
    <link href="~/styles/datepickercss.css" rel="stylesheet" media="all" nonce="EDNnf03nceIOfn39fn3e9h3sdfa" />

    <script src="~/Scripts/datepicker-ar.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>

    <script src="~/Scripts/eServiceScript.js" nonce="EDNnf03nceIOfn39fn3e9h3sdfa"></script>

    <link rel="stylesheet" href="~/styles/style4.css">

    <title>@Resources.Resource.clearingAgentCancelRequest</title>


    


</head>
<body dir="@Resources.Resource.dir">

    <div id="loading" style="display:none;">
        <img src="~/images/loading.gif" />
    </div>



    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
                <strong>BS</strong>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Home 1</a></li>
                        <li><a href="#">Home 2</a></li>
                        <li><a href="#">Home 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        About
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        Pages
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-send"></i>
                        Contact
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="col-lg-8 col-centered">



                <table class="table table-striped center-block">
                    <caption>@Resources.Resource.reviewInformationCaption</caption>

                    <tbody>

                        <tr>
                            <td colspan="1">
                                <form class="well form-horizontal" dir="@Resources.Resource.dir">
                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.requestType</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-tag"></i>
                                                    </span>
                                                    <input id="requestType" name="requestType" placeholder="@Resources.Resource.clearingAgentCancelRequest"
                                                           class="form-control" required="required" value="@Resources.Resource.clearingAgentCancelRequest" type="text" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.requestNo</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-barcode"></i>
                                                    </span>
                                                    <input id="requestNo" name="requestNo" placeholder="@Resources.Resource.requestNo"
                                                           class="form-control" required="required" value="@Resources.Resource.requestNo" type="text" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>




                                        @*in Case of General Broker, This Will be Hidden,
                                    Other Case :  Special Broker, Special Messenger, Direct Release Broker,
                                    Sub Broker, and Messanger
                                    Should be Shown*@
                                        <div class="form-group" id="parentBrokerInformationDiv">
                                            <label class="col-md-3 control-label"> @Resources.Resource.generalBrokerInf  </label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </span>
                                                    in Case of General Broker , Special Broker, Special Messenger, Direct Release Broker, This Will be Hidden,
                                                    Other Case :  Sub Broker, and Messanger
                                                    Should be Shown
                                                    <input id="generalbrokerName" name="generalbrokerName" placeholder="@Resources.Resource.generalBrokerName"
                                                           class="form-control" readonly="readonly" value="" type="text">
                                                    <input id="generalbrokerLicenceNo" name="generalbrokerLicenceNo" placeholder="@Resources.Resource.generalBrokerlicenseNo"
                                                           class="form-control" readonly="readonly" value="" type="text">
                                                    <input id="generalbrokerMobileNo" name="generalbrokerMobileNo" placeholder="@Resources.Resource.generalBrokerMobilenumber"
                                                           class="form-control" readonly="readonly" value="" type="text">
                                                </div>
                                            </div>
                                        </div>


                                        @*in Case of General Broker, Sub Broker, and Messanger This Will be Hidden,
                                    Other Case :  Special Broker, Special Messenger, Direct Release Broker,
                                    Should be Shown*@
                                        <div class="form-group" id="specialsInformationDiv">
                                            <label class="col-md-3 control-label"> @Resources.Resource.OrgReg_CompanyNameinArabic  </label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </span>
                                                    in Case of General Broker, Sub Broker, and Messanger This Will be Hidden,
                                                    Other Case :  Special Broker, Special Messenger, Direct Release Broker,
                                                    Should be Shown
                                                    <input id="companyName" name="companyName" placeholder="@Resources.Resource.OrgReg_CompanyNameinArabic"
                                                           class="form-control" readonly="readonly" value="" type="text">
                                                    <input id="commercialRegistrationNo" name="commercialRegistrationNo" placeholder="@Resources.Resource.commercialRegistrationNo"
                                                           class="form-control" readonly="readonly" value="" type="text">
                                                </div>
                                            </div>
                                        </div>






                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.BrokerType</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-briefcase"></i>
                                                    </span>
                                                    <input id="brokerType" name="brokerType" placeholder="@Resources.Resource.BrokerType"
                                                           class="form-control" required="required" value="" type="text" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.brokerArabicNameLbl</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </span>
                                                    <input id="brokerNameArabicName" name="brokerNameArabicName" placeholder="@Resources.Resource.brokerArabicNameLbl"
                                                           class="form-control" required="required" readonly="readonly" value="" type="text">
                                                    <input id="brokerNameArabicName" name="brokerNameArabicName" placeholder="@Resources.Resource.brokerArabicNameLbl"
                                                           class="form-control" required="required" readonly="readonly" value="" type="text">
                                                    @*<input id="brokerNameArabicName" name="brokerNameArabicName" placeholder="@Resources.Resource.brokerArabicNameLbl"
                                                       class="form-control" required="required" value="" type="text">
                                                <input id="brokerNameArabicName" name="brokerNameArabicName" placeholder="@Resources.Resource.brokerArabicNameLbl"
                                                       class="form-control" required="required" value="" type="text">*@

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resources.Resource.remarks</label>
                                            <div class="col-md-7 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </span>
                                                    <textarea id="brokerRemarks" name="brokerRemarks" placeholder="@Resources.Resource.remarks" class="form-control" required="required" value="" type="text"></textarea>
                                                </div>
                                            </div>
                                        </div>


                                    </fieldset>
                                </form>
                            </td>

                        </tr>

                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-info btn-block col-centered" causesvalidation="true" id="saveBtn">
                                    <b>
                                        <span class="glyphicon glyphicon-ok-sign"></span>&nbsp; @Resources.Resource.Send &nbsp;
                                    </b>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>


        </div>
    </div>


    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" style="z-index:200;" role="button" title="@Resources.Resource.returnToTop" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</body>
</html>
